@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}




/* Estilos para el thumb del slider */
.custom-slider::-webkit-slider-thumb {
  height: 38px;  /* Ajusta la altura */
  width: 38px;   /* Ajusta el ancho */
  background-color: rgb(42, 42, 42); /* Cambia el color */
  border-radius: 50%; /* Hace el thumb redondeado */
  cursor: pointer;
  appearance: none;
  transition: background-color 0.3s ease;
}





